<p><%= I18n.t("devise.mailer.reset_password_instructions.hello", :email => @resource.email, :default => "Hello %{email}!") %></p>

<p><%= I18n.t("devise.mailer.reset_password_instructions.password_reset_link", :default => "Someone has requested a link to change your password. You can do this through the link below.") %></p>

<p><%= link_to I18n.t("devise.mailer.reset_password_instructions.change_my_password", :default => 'Change my password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t("devise.mailer.reset_password_instructions.ignore_this_email", :default => "If you didn't request this, please ignore this email.") %></p>
<p><%= I18n.t("devise.mailer.reset_password_instructions.access_the_link", :default => "Your password won't change until you access the link above and create a new one.") %></p>
